@font-face {
  font-family: 'Maitree';
  src: url('../fonts/Maitree-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Maitree';
  src: url('../fonts/Maitree-Regular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Maitree';
  src: url('../fonts/Maitree-Bold.ttf');
  font-weight: 700;
}